$stroke-color: #555;
$invisible-stroke-color: #fff;

.frisco-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .polygon {
    stroke-width: .05%;
    stroke-opacity: 1;
    stroke: $stroke-color;
  }

  path {
    &.linestring {
      stroke-width: .05%;
      stroke-opacity: 1;
      stroke: $stroke-color;
    }
  }

  &.invisible {
    .polygon {
      stroke: $invisible-stroke-color;
    }

    path {
      &.linestring {
        stroke: $invisible-stroke-color;
      }
    }
  }
}