.LoadingSpinner {
  .loading {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    .loading-internal {
      align-items: center;
      display: flex;
      flex: 0 1 auto;
      flex-basis: 100%;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: center;
      max-width: 100%;
    }
  }
}