$bg-color: rgba(255, 255, 255, .85);
$border-color: #999;
$zoom-span-color: #999;

.zoomer {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: $bg-color;
  padding: 8px;
  border-bottom-left-radius: 5px;
  border: 1px solid $border-color;
  border-top: 0;
  border-right: 0;
  max-width: 25%;

  .zoom-btns {
    display: inline-block;

    button {
      margin-left: 3px;
    }
  }

  .zoom-span {
    font-size: 11px;
    color: $zoom-span-color;
    margin-right: 2px;
  }
  @media (max-width: 768px) {
    padding: 7px 7px 7px 5px;

    .zoom-btns {
      button {
        padding-top: 0;
        padding-bottom: 0;
      }

      .glyphicon {
        font-size: .7em;
      }
    }
  }
}