$stroke-color: #0c0;

.nextbus-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .polygon {
    stroke-width: .001;
    stroke-opacity: 1;
    stroke: $stroke-color;
  }

  circle {
    cursor: pointer;
  }
}