$map-interface-bg-color: rgba(255, 255, 255, .85);
$map-interface-border-color: #999;
$white: #fff;
$semi-white: rgba(255, 255, 255, .2);

.map-interface {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: $map-interface-bg-color;
  padding: 8px;
  border-bottom-right-radius: 5px;
  border: 1px solid $map-interface-border-color;
  border-top: 0;
  border-left: 0;
  max-width: 25%;

  .scrollable-content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    h5 {
      cursor: pointer;
    }
  }

  .close-interface {
    position: absolute;
    right: -42px;
    top: 0;
    background-color: $map-interface-bg-color;
    padding: 8px;
    border-bottom-right-radius: 5px;
    border: 1px solid $map-interface-border-color;
    border-top: 0;
    border-left-color: $white;
  }

  .table {
    // margin-bottom: 0;
    thead > tr > th {
      border: 0;
    }

    tbody > tr > th {
      text-align: center;
    }

    tbody > tr > td {
      cursor: pointer;
      position: relative;

      &:hover {
        &::after {
          content: '\A';
          width: 100%;
          height: 100%;
          background: $semi-white;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  @media (max-width: 768px) {
    font-size: .7em;

    .is-open {
      .close-interface {
        right: -32px;
      }
    }

    .btn-group-xs > .btn,
    .btn-xs {
      line-height: .1;
    }

    button {
      padding: 2px;
    }

    .glyphicon {
      font-size: .7em;
    }

    h5 {
      font-size: 1em;
    }
  }
}