<!doctype html>
<html lang="en">

  <head>

    <title>San Francisco Bus Itineraries test</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body>

    <div id="testApp">
    </div>

    <script type="text/javascript" src="/bundle.js"></script>

  </body>

</html>
