$svg-border-color: #ccc;
$p-color: #999;
$loading-spinner-bg-color: rgba(255, 255, 255, .5);

.index {
  position: relative;

  .margin-top-10px {
    margin-top: 10px;
  }

  .maps-and-interface {
    position: relative;

    h1 {
      margin-bottom: 30px;
    }

    svg {
      border: 1px solid $svg-border-color;
    }

    p {
      color: $p-color;
    }
  }

  .loading-spinner {
    background-color: $loading-spinner-bg-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90000;
  }
}